#app {
  font-family: Arial, Helvetica, sans-serif;
  color: #36454f;
}

.link1 {
  text-decoration: underline;
  font-weight: 600;
  color: #052775;
}

.link1:hover {
  cursor: pointer;
}

.link2 {
  text-decoration: underline;
  color: lightgrey;
}

.linkNoDecoration{
  text-decoration: none;
  padding: 10px;
}

.text1 {
  font-weight: 600;
  color: #052775;
  text-decoration: none;
}

.button1 {
  height: 30px;
  font-weight: 700;
  color: #052775;
  margin: 5px;
  min-width: 75px;
}

.display {
  display: flex;
  flex-wrap: wrap;
  padding: 15vh 0 0 3vw;
}

@media only screen and (min-width: 600px) {
  .display{
    display: flex;
    flex-wrap: wrap;
    padding: 15vh 0 0 2vw;
    width: auto;
    max-width: 70vw;

  }
}

@import '../css/articlePage.css';
@import '../css/bookPage.css'