.articlePage {
  width: 90vw;
  text-align: justify;
  line-height: 1.5;
}

h1 {
  text-align: left;
  color: #052775;
}

p{
  max-width: 90vw;
}

img {
  max-width: 90vw;
}

iframe{
  width: 90vw;
  height: 210px;
}

.share {
  color: #052775;
  background-color: lightgrey;
  width: 90vw;
}

@media only screen and (min-width: 600px) {
  /*for desktop*/
  .articlePage {
    max-width: 50vw;
    padding-left: 25px;
    text-align: justify;
    font-size: large;
    line-height: 1.5;
  }

  h1 {
    text-align: left;
    color: #052775;
  }

  p{
    max-width: 50vw;
  }

  img {
    max-width: 50vw;
  }
  
  iframe{
    width: 415px;
    height: 315px;
  }

 .share {
    color: #052775;
    background-color: lightgrey;
    padding: 0% 0% 1% 1%;
    width: 50vw;
  }
}
