.bookPage{
    padding-top: 2vh;
    width: 90vw;
}

.title{
    display: block;
    font-size: 24px;
    color: #052775;
}

.subTitle{
    font-size: 18px;
    color: #052775;
}

.bookCover{
    width: 60%;
    padding: 5% 0% 0% 20%;
}

.bookCoverButton{
    padding: 2% 0% 2% 0%;
}

.bookCoverButton img{
    width: 50px;
    padding: 5px;
}

.bookCoverButton img:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.store{
    border-top: 1.5px solid lightgray;
    padding: 5% 0% 5% 0%;
    overflow-x: scroll;
}

.storeButton{
    text-decoration: none;
    background-color: lightgray;
    color:#052775;
    padding: 10px;
    margin: 10px;
    box-shadow: grey 2px 2px 2px;
}

.storeButton:hover{
    background-color: #fefb7a;
}

.detail{
    border-top: 1.5px solid lightgray;
}

.brief{
    border-top: 1.5px solid lightgray;
    text-align: justify;
}

@media only screen and (min-width: 600px) {
    /*for desktop*/
    .bookPage{
        width: 90vw;
        padding-top: 5vh;
        display:grid;
        grid-template-columns: 300px 500px;
        grid-template-rows: auto auto auto auto auto;
    }

    .title{
        color: #052775;
        grid-row: 1;
        grid-column: 2;
    }

    .subTitle{
        color: #052775;
        grid-row: 1;
        grid-column: 2;
        padding-top: 10%;  
    }

    .bookCover{
        grid-column: 1;
        grid-row: 1/span 3;
        width: 80%;
        padding: 0px;
    }

    .bookCoverButton{
        padding: 2% 0% 2% 0%;
        grid-column: 1;
        grid-row: 4;
    }

    .bookCoverButton img{
        width: 50px;
        padding: 5px;
    }

    .bookCoverButton img:hover{
        cursor: pointer;
        background-color: lightgrey;
    }

    .store{
        grid-row: 2;
        grid-column: 2;
        border-top: 1.5px solid lightgray;
        overflow-x: scroll;
    }

    .storeButton{
        text-decoration: none;
        background-color: lightgray;
        color:#052775;
        padding: 10px;
        margin: 10px;
        box-shadow: grey 2px 2px 2px;
    }

    .storeButton:hover{
        background-color: #fefb7a;
    }

    .detail{
        grid-row: 3;
        grid-column: 2;
        border-top: 1.5px solid lightgray;
    }

    .brief{
        grid-column: 5;
        grid-column: 2;
        border-top: 1.5px solid lightgray;
        text-align: justify;
    }
}