.bookCard {
  margin-top: 5%;
  background-color: lightgoldenrodyellow;
  text-align: center;
  width: 90vw;
  box-shadow: 3px 3px 5px grey;
}

.bookCard img {
  padding: 5%;
  width: 100px;
  height: Auto;
}

.bookCard div {
  background-color: #fefb7a;
  padding: 2%;
  text-align: left;
}

.bookCard div p {
  font-weight: 600;
  word-wrap: break-word;
  color: #052775;
}

@media only screen and (min-width: 600px) {
  .bookCard {
    background-color: lightgoldenrodyellow;
    text-align: center;
    width: 22vw;
    box-shadow: 3px 3px 5px grey;
    margin-top: 0%;
    margin-bottom: 2%;
  }

  .bookCard img {
    padding: 5%;
    width: 100px;
    height: Auto;
  }

  .bookCard div {
    background-color: #fefb7a;
    padding: 5%;
    text-align: left;
  }

  .bookCard div p {
    font-weight: 600;
    word-wrap: break-word;
    color: #052775;
  }
}
