.articleDisplay{
  padding: 30% 0% 5% 5%;
}

.bookDisplay {
  padding: 25% 0% 5% 5%;
  display: flex;
  flex-wrap: wrap;
}

.loading{
  padding: 30% 0% 5% 5%;
}

.listLink {
  text-decoration: none;
}
@media only screen and (min-width: 600px) {

  .articleDisplay{
    padding: 7% 0% 2% 3%;
  }

  .bookDisplay {
    padding: 7% 0% 2% 3%;
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
  }

  .loading{
    padding: 7% 0% 2% 3%;
  }

  .listLink {
    text-decoration: none;
    width: 50vh;
    display: inline-block; /*To prevent=> Div Anchor Clickable Even Outside of Div*/
  }
}
