#navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color:white;
  box-shadow: 0px 5px 5px grey;
  width: 100vw;
}
#navLnk {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#home {
  text-decoration: none;
}

#navLnk ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

#navLnk ul li {
  padding: 10px 0px 10px 2vw;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: underline;
  font-weight: 600;
  color: #052775;
}

.link:focus {
  text-decoration: underline;
  font-weight: 600;
  color: #052775;
}

