#userMaster {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    align-items: center;
  }
  
  #userDetail {
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
  }
  
  #userDetail img {
    background-color: #fefb7a;
    width: 50px;
    height: auto;
  }
  
  #userDetail p {
    margin-left: 10px;
    font-weight: 700;
    color: #052775;
  }
  
  .signIn {
    height: 30px;
    font-weight: 700;
    color: #052775;
    margin-right: 5%;
  }
  